/* Imports fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fim imports fonts */


/* Section one */
main.main-index{
    width: 100%;
    height: 100vh;
    margin: 0 auto;

}

main section.section-one{
    width: 100%;
    height: 70vh;
    background-image: url(../assets/img/plantation.jpg);
    background-size: cover;

    border-bottom: solid 4px var(--second-bege);

}

main section.section-one .overlay{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: linear-gradient(to bottom, var(--brown), rgb(34, 9, 9));
    width: 100%;
    height: 100%;
    opacity: 30%;

    cursor: pointer;

    transition: opacity 0.5s ease-in-out;
}

h1.mark{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--bege);
    font-size: 15rem;
    text-transform: uppercase;
    opacity: 100%;
    transition: 0.5s ease-in-out opacity;

}



h1.mark::selection{
    background-color: var(--brown);
}

p.paragraph{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 5rem;
    background-color: var(--second-bege);
    color: var(--brown);
    padding: 1rem;
    border-radius: 15px;
    opacity: 100%;
    text-transform: capitalize;

    transition: 0.7s ease-in-out opacity;
    
}

p.paragraph::selection{
    background-color: var(--brown);
    color: var(--second-bege);
}

p.paragraph span.bra{
    font-weight: 600;
    text-transform: capitalize;
    color: #008000;
}

p.paragraph span.sile{
    font-weight: 600;
    text-transform: capitalize;
    color: #ffd900;
}

p.paragraph span.iro{
    font-weight: 600;
    text-transform: capitalize;
    color: #007fff;
}

p.paragraph span.brasileiro{
    display: block;
    background-color: var(--brown);
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
 
}

p.paragraph span.bra::selection,
p.paragraph span.sile::selection,
p.paragraph span.iro::selection{
    background-color: var(--bege);
}

main section.section-one .overlay:hover{
    opacity: 90%;
}


/* Fim Section one */



/* section two */

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100vh;
    width: 100%;
    padding: 0 50px;

    background-image: url(../assets/svg/background.svg);

    border-bottom: solid var(--brown) 4px;
    border-top: solid 4px var(--brown);
}

.section-two .box-products{
    margin: 0 15px;
    background-color: var(--second-bege);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;


    width: 100%;
    max-width: 1440px;
    height: 75%;
    border-radius: 20px;

    box-shadow: 0 0 10px 2px var(--brown);
}

.section-two .box-products .products{
    background-color: var(--bege);
    border: solid 2px var(--brown);
    color: #008000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;


    width: 25%;
    max-width: 20%;
    height: 70%;
    margin: 2%;
    padding: 2%;
    border-radius: 20px;

    cursor: pointer;

    transition: 0.2s ease-in-out;

    
}

.section-two .box-products .products:hover{
    box-shadow: 0 0 12px 4px var(--brown);
    background-color: rgba(90, 26, 26, .1);
    transform: scale(1.05);
}

.section-two .box-products .product-image{
    width: 90%;
    height: 60%;
    border-radius: 10px;
    box-shadow: inset -2px -2px rgba(0, 0, 0, .2);
    margin: 20px 0;
}


/* Images editions */
.section-two .box-products .product1 .product-image{
    background-image: url(../assets/img/coffee/cocoa-coffee.jpg);
    background-position: cover;
    background-size: cover;
}

.section-two .box-products .product2 .product-image{
    background-image: url(../assets/img/coffee/express-coffee.jpg);
    background-position: cover;
    background-size: cover;
}

.section-two .box-products .product3 .product-image{
    background-image: url(../assets/img/coffee/gourmet-coffee.jpg);
    background-position: cover;
    background-size: cover;
}

.section-two .box-products .product4 .product-image{
    background-image: url(../assets/img/coffee/cappuccino.jpg);
    background-position: cover;
    background-size: cover;
}

/* Images editions fim*/

.section-two .box-products .product-name{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.section-two .box-products .product-price{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align:start;
    color: #008000;
}

.section-two .box-products .product-price span{
    font-size: 2.6rem;
}

.section-two .box-products .product-buy{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;

    color: var(--bege);
    background-color: #034203;

    padding: 10px;
    width: 100%;


    transition: 0.2s ease-in-out, 0.5s ease-in-out transform;


}

.section-two .box-products .product-buy:hover{
    background-color: #008000;
    color: #fff;
    box-shadow: 0 0 3px 1px #034203;
    transform: skew(8deg);
}

.section-two .box-products .product-options{
    display: flex;
    gap: 1rem;
    margin: 10px;
}

.section-two .box-products .product-options{
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-two .box-products .product-options label{
    display: inline-block;
    bottom: -15px;
    left: 0;

    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.section-two .best-seller{
    text-transform: uppercase;
    font-size: 6rem;
    color: var(--brown);
}
.section-two .best-seller .sale{
    color: var(--bege);
    padding: 0 20px;
    border-radius: 20px;
    background-color: var(--brown);
    position: relative;
}

.section-two .best-seller .sale::after{
   content: " ";
   display: block;
   position: absolute;
   background-color: var(--second-bege);
   width: 100%;
   height: 4px;
   bottom: 6px ;
   left: 0%;


}


/* fim section two */





/* section tree */

.section-tree{
    height: 100vh;
    width: 100%;

    padding: 70px 50px;
    position: relative;

    background-image: url(../assets/svg/background.svg);
    background-size: cover;
}

.section-tree h2.title3{
    position: absolute;
    top: 25px;
    left: 38%;
    text-transform: uppercase;
    font-size: 60px;

    color: var(--brown);
    color: var(--second-bege);
    background-color: var(--brown);
    border-radius: 25px;
    padding: 10px 15px;
}

.section-tree h2.title3::after{
    content: " ";
    position: absolute;
    width: 215px;
    height: 5px;
    bottom: 16px;
    left: -1%;
    background-color: var(--bege);
}

.section-tree .asseesments{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    background-color: #f7ecd881;
    border-radius: 25px;

    padding: 40px;
    margin-top: 80px;

    transition: box-shadow 0.3s ease;
}
.section-tree .asseesments:hover{
    box-shadow: rgba(0, 0, 0, .5) 0 0 10px;
}

.section-tree .asseesments .asseesments-box{
    display: flex;
    flex-direction: column;
    gap: 5px;

    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 20px;

    background-color: var(--white);

    box-shadow: inset -3px -3px rgba(0, 0, 0, .2);

    transition: transform 0.3s ease;
    cursor: pointer;
}

.section-tree .asseesments .asseesments-box:hover{
    transform: scale(1.02);
}

.section-tree .asseesments h3.name{
    font-size: 18px;
    text-transform: capitalize;
}

.section-tree .asseesments .stars{
    color: #ffd900;
    font-size: 13px;
}

.section-tree .asseesments p.description{
    text-transform: capitalize;
    margin-top: 15px;
    font-size: 16px;
}

.section-tree .asseesments img.perfil{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}


/* Fim section tree */



/* footer */

footer{
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid var(--brown) 3px;
}

img.payments{
 
    height: 100px;
}

.line1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bege);
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;

    transition: box-shadow 0.5s ease, transform 0.1s ease;
    
}

.line1:hover{
    box-shadow: rgba(0, 0, 0, .2) 4px 4px;
    transform: scale(1.01);
}

h2.rights{
    margin-top: 10px;
}

a img.logo-footer{
    height: 100px;
}

h2.coffee-name{
    font-size: 30px;
    text-transform: uppercase;
    background-color: var(--brown);
    padding: 10px 20px;
    color: var(--bege);
}

footer .info{
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 20px;
    text-transform: capitalize;
    
}

footer .info a{
    color: var(--brown);
}


