/* header styles */

header.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    padding: 1rem 4%;
    max-width: 192rem;
    margin: 0 auto;
    border-bottom: 2px solid var(--brown);
    box-shadow: 0 0 1rem var(--brown);

}

header.heading img{
    height: 8rem;
    width: 8rem;
    cursor: pointer;
    opacity: 50%;

    transition: 0.4s ease-in-out;
}

header.heading img:hover{
    opacity: 100%;
    transform: scale(1.02);
}

header .nav-bar li{
    box-sizing: border-box;
    display: inline-block;
    text-transform: capitalize;
    padding: 2rem;
    
}


header .nav-bar li a{
    display: inline-block;
    box-sizing: border-box;
    color: var(--brown);
    font-weight: 400;
    padding: 0 2rem;
    position: relative;

    transition: 1s ease-in-out  transform, 0.5s ease-in-out  color;

}

header .nav-bar li a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--brown);
    display: block;
    position: absolute;
    bottom: -1rem;
    left: 0%;

    transition: 0.18s ease-in-out  width;
}

header .nav-bar li a:hover{
    color: var(--brown);
    transform: scale(1.02);
}

header .nav-bar li a:hover::after{
    width: 100%;
}





    

header div .button1{
    cursor: pointer;
    /* font-family: 'Fira Sans', sans-serif; */
    font-weight: 500;

    text-transform: capitalize;
    border: solid 0.2rem var(--brown);
    outline: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--brown);
    color: var(--white);
    font-size: 1.6rem;

    transition: 0.4s ease-in-out background-color, 0.6s ease-in-out color, 0.6s ease-in-out box-shadow;
}

header div .button1:hover{
    box-sizing: border-box;
    background-color: var(--bege);
    color: var(--brown);
    box-shadow: 0 0 1rem var(--brown);
}






/* header menu cardapio */
header.heading .nav-bar-search{
    display: flex;
    align-items: center;
    justify-content: center;
}

header.heading input.search{
    margin: 0 10rem 0 5rem;
    padding: 1.4rem;
    height: 4rem;
    width: 30rem;
    border: none;
    outline: none;

    background-color: var(--second-bege);
    color: var(--light);
    border: solid 0.2rem var(--brown);
    border-radius: 1rem;   
    font-weight: 500;                     

    transition: 0.2s ease-in-out;
}

header.heading input.search::selection{
    background-color: var(--brown);
    color: var(--white);
}

header.heading input.search::-webkit-search-cancel-button{
    cursor: pointer;
    position: relative;
    right: -10px;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: var(--brown);
}

header.heading input.search:hover,
header.heading input.search:focus-visible{
    background-color: var(--bege);
    box-shadow: 0 0 0.5rem var(--brown);
}

header.heading input.search::placeholder{
    color: var(--brown);
}