/* header styles */

header.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    padding: 1rem 4%;
    max-width: 192rem;
    margin: 0 auto;
    border-bottom: 2px solid var(--brown);
    box-shadow: 0 0 1rem var(--brown);

}

header.heading img{
    height: 8rem;
    width: 8rem;
    cursor: pointer;
    opacity: 50%;

    transition: 0.4s ease-in-out;
}

header.heading img:hover{
    opacity: 100%;
    transform: scale(1.02);
}

header .nav-bar li{
    box-sizing: border-box;
    display: inline-block;
    text-transform: capitalize;
    padding: 2rem auto;
    
}


header .nav-bar li a{
    display: inline-block;
    box-sizing: border-box;
    color: var(--brown);
    font-weight: 400;
    position: relative;
    padding: 0 0 0 8rem;

    transition: 1s ease-in-out  transform, 0.5s ease-in-out  color;

}

header .nav-bar li a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--brown);
    display: block;
    position: absolute;
    bottom: -1rem;
    left: 42%;

    transition: 0.18s ease-in-out  width;
}

header .nav-bar li a:hover{
    color: var(--brown);
    transform: scale(1.02);
}

header .nav-bar li a:hover::after{
    width: 60%;
}

.cart .cart-link .cart-button i,
.cart .favorite-link .favorite-button i{
    color: var(--brown);
    font-size: 3rem;
}

.cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    padding-right: 4%;
}

.cart .cart-link .cart-button,
.cart .favorite-link .favorite-button{
    width: 5rem;
    height: 5rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: var(--bege);
    cursor: pointer;

    
}



.cart .cart-link, 
.favorite-link{
    position: relative;
}

.cart .cart-link .quantity-cart, 
.cart .favorite-link .quantity-heart{
    font-size: 15px;
    text-align: center;
    color: var(--bege);

    background-color: brown;
    border-radius: 50%;

    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 2px;
    z-index: 9999;

    transition: 0.1s ease-in-out outline;
}

.cart .cart-link .quantity-cart:hover, 
.cart .favorite-link .quantity-heart:hover{
    outline: solid rgba(0, 0, 0, .2) 10px;
}

