/* Presets variables */
:root{
    /* main colors */
    /* first pallete */
    --bege: #f2e3c6;
    --light-pink: #ffc6a5;
    --pink: #e6324b;
    --dark: #2b2b2b;
    --light: #353634;
    --brown: rgb(90, 26, 26);

    /* second pallete */
    --yel-one: #efd018;
    --yel-two: #f3dc35;
    --yel-tree: #f7e853;
    --yel-four: #fbf370;
    --yel-five: #ffff8d;

    /* other colors */
    --white: #f6f6f6;
    --white-gray: #a0a0a0;
    --second-bege: #f7ecd8;
}


/* Presets CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Fira Sans', sans-serif;

    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;

}

html::-webkit-scrollbar{
    background-color: var(--second-bege);
}

body{
    background-color: var(--bege);
    color: var(--dark);
    height: 100vh;
}

h1::selection, h2::selection, h3::selection, h4::selection, p::selection, span::selection{
    background-color: var(--brown);
    color: var(--bege);
}
